@page "/Acerca"

<h2>Acerca de</h2>

<br />

<h4>Equipo Super Trabajador P</h4>

<br />

<h4>Integrantes:</h4>

<br />

<table class="table">

    <tr>
        <th>Nombre</th>
        <th>Matricula</th>
    </tr>

    <tr>
        <td>Francisco Daniel Lora</td>
        <td>2019-7800</td>
    </tr>

    <tr>
        <td>Ronny Florian</td>
        <td>2019-7816</td>
    </tr>

    <tr>
        <td>Elmer González</td>
        <td>2019-8091</td>
    </tr>

    <tr>
        <td>Ronald Ambroise</td>
        <td>2018-6359</td>
    </tr>

</table>

@code {

}
