@page "/pagina1"
@using Tarea9.Data
@using Newtonsoft.Json;
@using System.Net;
@inject ApiCedulaService ApiCedulaService

<h3>Registrar vacuna a domicilio</h3>

<form class="w-75">
    <div class="mb-3">
        <label for="txtcedula" class="form-label">Cédula</label>
        <input type="text" class="form-control" id="txtcedula" @bind-value="cedula">
        <br>
        <button class="btn btn-secondary" @onclick="ValidarCedula" type="button">verificar</button>
    </div>

    <div class="mb-3">
        <label for="txtnombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="txtnombre" @bind-value="nombre" disabled>
    </div>

    <div class="mb-3">
        <label for="txtapellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="txtapellido" @bind-value="apellido" disabled>
    </div>

    <div class="mb-3">
        <label for="txttelefono" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="txttelefono" @bind-value="telefono">
    </div>

    <div class="mb-3">
        <label for="txtcorreo" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="txtcorreo" @bind-value="correo">
    </div>

    <div class="mb-3">
        <label for="txtfecha" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="txtfecha" @bind-value="fechaNacimiento" disabled>
    </div>

    <div class="mb-3">
        <label for="txtsangre" class="form-label">Tipo de sangre</label>
        <select id="txtsangre" @bind="tsangre">
            <option value="null" selected>Seleccione el tipo de sangre</option>
            <option value="O negativo">O negativo</option>
            <option value="O positivo">O positivo</option>
            <option value="A negativo">A negativo</option>
            <option value="A positivo">A positivo</option>
            <option value="B negativo">B negativo</option>
            <option value="B positivo">B positivo</option>
            <option value="AB negativo">AB negativo</option>
            <option value="AB positivo">AB positivo</option>
        </select>
    </div>

    <RadzenGoogleMap style="height: 400px" Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 18.98367097987177, Lng = -70.45763034294242 }) MapClick=@OnMapClick>
        <Markers>
            <RadzenGoogleMapMarker Position=@(new GoogleMapPosition() { Lat = latitud, Lng=longitud })/>
        </Markers>
    </RadzenGoogleMap>

      <label class="form-check-label">¿Ha tenido COVID-19?</label>

    <div class="form-check">
        <RadzenRadioButtonList @bind-Value=@radio TValue="int" Orientation="Orientation.Vertical">
            <Items>
                <RadzenRadioButtonListItem Text="No" Value="1" />
                <RadzenRadioButtonListItem Text="Si" Value="2" />
             </Items>
        </RadzenRadioButtonList>
    </div>

    <div class="mb-3">
        <label for="Textarea1" class="form-label">Justifique porque deben vacunarlo en su casa</label>
        <textarea class="form-control" id="Textarea1" rows="3" @bind="justificacion"></textarea>
    </div>

    <button class="btn btn-primary mb-3" @onclick="registrarSolicitud">Confirmar</button>

</form>

<br />
<br />
<br />

<footer>
    <hr />

    <a href="Acerca">Acerca de</a>
    <br />
    <br />
</footer>

@code {
    [Inject]
    public IJSRuntime JS { get; set; }

    int zoom = 7;

    string cedula;
    string nombre;
    string apellido;

    long telefono;

    string correo;

    DateTime fechaNacimiento;

    string tsangre;
    int radio;
    string radio_respuesta;

    string justificacion;

    double latitud;
    double longitud;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        latitud = args.Position.Lat;
        longitud = args.Position.Lng;
    }

    public void registrarSolicitud()
    {
        if (radio == 1)
        {
            radio_respuesta = "No";
        }
        else if(radio == 2)
        {
            radio_respuesta = "Si";
        }

        var API = $"https://api-tarea9.herokuapp.com/api/Registrar_P/{cedula}/{nombre}/{apellido}/{fechaNacimiento}/{telefono}/{correo}/{tsangre}/null/null/{latitud}/{longitud}/{radio_respuesta}/{justificacion}";

        WebClient cliente = new WebClient();
        var datos = cliente.DownloadString(API);

    }

    public async Task ValidarCedula()
    {
        var apiContent = await ApiCedulaService.GetDatosAsync(cedula);

        if (apiContent == null)
        {
            await JS.InvokeVoidAsync("alert", "Debe ingresar una cedula valida");
        }
        else
        {
            nombre = apiContent.Nombres;
            apellido = $"{apiContent.Apellido1} {apiContent.Apellido2}";
            fechaNacimiento = apiContent.FechaNacimiento;
        }
    }
}
